.form {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
	padding: 40px 0;
	margin-top: -140px;
	border-radius: 10px;
	padding-left: 70px;
}
.form__group {
	margin: 10px 0;
}
.form-label {
	display: block;
	font-size: 20px;
	text-transform: capitalize;
	margin-bottom: 5px;
	color: #658077;
}
.form-input {
	width: 90%;
	height: 40px;
	padding-left: 10px;
	font-family: inherit;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.btn.btn-form {
	margin-top: 30px;
	width: 90%;
	border: 1px solid #1aaa7f;
	color: #1aaa7f;
	transition: all 0.2s;
}
.btn.btn-form:hover {
	background-color: #1aaa7f;
	color: white;
}
